<!DOCTYPE html>
<html>
<head>
  <title>Book Search</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <header>
    <h1>Book Search</h1>
  </header> 
  <hr style='margin: 50px'>
  <section id="bookSearchForms">
    <div id='testui' style='margin-left: 5%'> 
      <h2>Search for book by title</h2>
      <div class="bookLayout">
        <div class="bookCover">
          <form id="getSingleBook" class="border" method="get" action="/api/stock-prices">
            <input type="text" name="singleBook" placeholder="book title" style="width: 100px" required=''>
            <label><input type="checkbox" name="like" value=true>Like?</label>
            <button type="submit">Get Book!</button>
          </form>
        </div>
      </div>
      <code id='jsonResult1'></code>
      <h2>Find the difference between two titles published dates by titles</h2>
      <div class="bookLayout">
        <div class="bookCover">
          <form id="getDoubleBooks" class="border" method="get" action="/api/multi-stock-prices">
            <input type="text" name="bookOne" placeholder="book title" style="width: 100px" required=''>
            <input type="text" name="bookTwo" placeholder="another book title" style="width: 100px" required=''>
            <label><input type="checkbox" name="likeBoth" value=true> Like both?</label>
            <button type="submit">Find difference!</button>
          </form>
        </div>
      </div>
      <code id='jsonResult2'></code>
    </div>
  </section>
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>
  <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
  </script>
</body>
</html>
